<div class="card">
    <div class="card text-center">
        <div class="card-header">
            <h5>Alumno</h5>
        </div>
        <div class="card-group" *ngIf="menu == ''">
            <div class="card">
                <img src="../../../assets/imagenes/materias.jpg" height="300" class="card-img-top"
                    alt="Inscripción" (click)="inscribirse()">
                <div class="card-body">
                    <h5 class="card-title">Inscripción a Materias</h5>
                    <p class="card-text">Inscripción a las materias que desee cursar el próximo cuatrimestre.</p>
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/imagenes/ListadoUsuarios.jpg" height="300" class="card-img-top"
                    alt="Listado de Usuarios" (click)="materiasInscripto()">
                <div class="card-body">
                    <h5 class="card-title">Listado de Materias</h5>
                    <p class="card-text">Visualizar el Listado de las materias a las que se encuentra inscripto.</p>
                </div>
            </div>
        </div>
    </div>
</div>