<app-nav-bar></app-nav-bar>
<div class="card">
    <div class="card text-center">
        <div class="card-header">
            <h5>Usuarios</h5>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="userProfile">Tipo de Usuario</label>
            </div>
            <select class="custom-select" id="userProfile" [(ngModel)]="perfil">
                <!-- (change)="listarUsuariosPorTipo($event.target.value)" -->
                <option value="Todos" >Todos</option>
                <option value="Alumno">Alumno</option>
                <option value="Profesor">Profesor</option>
                <option value="Administrador">Administrador</option>
                <option value="Borrados">Alumnos Borrados</option>
            </select>
        </div>
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Perfil</th>
                    <th *ngIf="perfil=='Borrados'">Fecha Baja</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usr of (usuariosList | usuarios:perfil)">
                    <img height=50px width=50px [src]="usr.foto" alt="">
                    <td>{{usr.apellido +', '+ usr.nombre}}</td>
                    <td>{{usr.email}}</td>
                    <td>{{usr.perfil}}</td>
                    <td *ngIf="perfil=='Borrados'">{{usr.fechaBaja}}</td>
                    <td *ngIf="usr.perfil=='Alumno'">
                        <button type="button" class="button btn-danger" name="" id="" (click)="baja(usr)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true">Baja</span>
                        </button>
                    </td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>
