<div class="card">
  <div class="card-header"><h5>Administrador</h5></div>
  <div class="card-group">
    <div class="card">
      <img src="../../../assets/imagenes/materias.jpg"  height="300" class="card-img-top" alt="Alta de Materias" (click)="onClickMaterias()">
      <div class="card-body">
        <h5 class="card-title">Alta de Materias</h5>
        <p class="card-text">Alta las materias con su profesor asignado.</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/imagenes/ListadoMaterias.jpg" height="300"class="card-img-top" alt="Listado de Materias" (click)="onClickMateriasListado()">
      <div class="card-body">
        <h5 class="card-title">Listado de Materias</h5>
        <p class="card-text">Visualizar el listado de materias y sus detalles</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/imagenes/ListadoUsuarios.jpg" height="300" class="card-img-top" alt="Listado de Usuarios" (click)="onClickUsuariosListado()">
      <div class="card-body">
        <h5 class="card-title">Listado de Usuarios</h5>
        <p class="card-text">Visualizar el Listado de Usuarios por tipo.</p>
      </div>
    </div>
  </div>
</div>