<div class="card">
    <div class="card text-center">
        <div class="card-header">
            <h5>Alumnos</h5>
        </div>
        <div class="card-body">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Perfil</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usr of usuariosList">
                        <img height=50px width=50px [src]="usr.foto" alt="">
                        <td>{{usr.apellido +', '+ usr.nombre}}</td>
                        <td>{{usr.email}}</td>
                        <td>{{usr.perfil}}</td>
                        <td><button type="button" class="button btn-info" name="" id="" (click)="seleccionar(usr)">Seleccionar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>